@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0; 
    background-color: #d294e0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.col-4 {
    margin: none!important;
}

/* index */

/* navabar  */

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #f4e9f2;
    padding-bottom: 30px;
    box-shadow: 2px -10px 30px rgb(27, 27, 27) ;
}

.nav-item {
    margin-top: 2.5%;
    margin-left: 3%;
}

.logo {
    width: 150px;
    height: 50px;
    object-fit: cover;
    margin-top: 2%;
}

.nav-link {
    font-weight: bolder;
    font-size: 20px;
    color: black;
}

.container {
    margin-top: 3%;
    width: 50%;
}

.card {
    margin: 3%;
    padding: 2%;
    border-radius: 6%;
    transition: transform 0.2s;
    background-color: #f4e9f2;
    box-shadow: 0px 0px 30px rgb(102, 102, 102) ;
}

.card:hover {

    transform: scale(1.1);
    transition: ease-in 0.2s;
}

.card-img-top {
    border-radius: 6%;
}

.col-4 {
    flex: 1 1 50%;
    min-width: 45%;
}


#shopBtn {
    width: 20%;
}


.titles {
    margin-left: 50px;
  
}


.item-info {
    margin-right: 100px;
}



.img-cart {
    width: 60px;
    height: 60px;
    margin-right: 7%;
    object-fit: cover;
    border-radius: 10px;
}

.item-name {
    font-size: 14px;
   
}

.item-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   
}

.btn-warning {
    margin-left: 100px;
    height: 50px;
    border-radius: 20px;
}

.price {
    font-size: 14px;
   
    margin-right: 7%;
    margin-top: 22px;
}



.line {
    margin-left: 20px;
    width: 600px;
    height: 1px;
    background-color: black;
}

#box-price {
    margin-top: 20px;
    margin-left: 500px 
}

.items-container {
    margin-left: 50px
}

#items-container {
    background-color: #9861df;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    padding: 0 20px 20px 20px;
    box-shadow: 0px 0px 30px rgb(102 102 102);
    padding: 2%;
    min-height: 200px;
}

#items-container-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7%;
}


#number {
    
    width: 4%;
    height: 45px;
    border-radius: 14%;
    border: none;
    padding: 10px;
}

.btn-purchase {
    margin: 70px 0 300px 300px;
}


/* product-page */

* {
    padding: 0; 
    margin: 0;
}

.col-1 {
    margin-left: none;
    margin-right: none;
}

.price-product-page {
    margin-top: 10px;
}

.product-page-container {
    margin-top: 50px;
    margin-bottom: 100px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: #f4e9f2;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 30px rgb(102, 102, 102) ;
}

.product-page-img {
    width: 50%;
    height: 40%;
    object-fit: cover;
}
 
.box-item {
    width: 20%;
    display: flex;
    flex-direction: row;
}

.item-title {
    margin-top: 20px;
    width: 20%;
    margin-right: 7%;
}

.price {
    width: 20%;
}

.btn-warning {
   
    width: 20%;
    margin-left: 25%;
}

#lense-select {
    margin-bottom: 20px;
}

#number {
    width: 4%;
    height: 45px;
    
}

#box-price {
    margin-left: 80%;
    min-width: 7%;
    max-width: 10%;
    height: 70px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
   
}

.option {
    width: 9%;
    margin-left: 4%;
    margin-top: 1.5%;
}


/* shopping cart */

/* Cart */
.shopping-cart-title {
    margin: 40px;
    display: flex;
    justify-content: center;
}

#pop-up-cart-empty {
    background-color: white;
    border-radius: 30px;
    height: 100px;
    width: 70%;
    margin-left: 15%;
 
}

#pop-up-inner-text {
    text-align: center;
    font-size: 170%;
    margin-block: revert;
    width: 100%;
    padding-top: 30px;
}

/* cart */

.row {
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

/* form */

.container-form {
    width: 100%;
    margin: 50px auto 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.submit-form-button {
    border: none; 
    width: 20%;
    background-color: #ff9d1f;
    border-radius: 20px;
    
}

.btn-shop {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101%;
    background-color: #ff9d1f;
    height: 40px;


}

.form-input {
    width: 100%;
}

.submit-btn {
    margin: 50px;
    border: none;
    width: 100px;
    height: 70px;
    display: flex;
    background-color: rgb(255, 157, 31);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0px 0px 20px rgb(102, 102, 102) ;
}

/* validation */


.container-validation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #9861df;
    width: 45%;
    padding: 20px;
    border-radius: 20px;
    margin: 50px auto;
}



@media (max-width: 600px) {
    .container {
        width: 80%
    }

    .col-4 {
        flex: 1 1 118%;
        min-width: 105%;
    }
}



@media (min-width: 600px) {
    .container {
        margin-top: 3%;
        width: 90%;
    }
  
}

@media (min-width: 600px) {
.col-4 {
    flex: 1 1 1 22%;
    min-width: 46%;
}
}